{{#if user}}
<h4>Hola {{user.first_name}}, éstas son nuestras últimas novedades.
    {{/if}}
</h4>
<h1>Productos</h1>
{{!-- <article>
    <form id="form-message">
        <input id="input-message" type="text" placeholder="Escribe tu mensaje" required>
        <input type="submit" value="Enviar">
    </form>
</article> --}}
<div class="products">
    {{#each payload}}
    <article class="product">
        {{#if this.thumbnail}}
        <!-- Si hay imagen, mostrarla -->
        <img src="{{this.thumbnail}}" alt="{{this.title}}">
        {{else}}
        <!-- Si no hay imagen, mostrar imagen predeterminada -->
        <img src="/assets/image/no-image.jpg" alt="No Image">
        {{/if}}
        <p class="title">{{this.title}}</p>
        {{!-- <p class="description">{{truncate this.description 75}}</p> --}}
        <p class="price">${{this.price}}</p>
        <p class="category">Categoría: {{this.category}}</p>
        <p class="code">{{this.code}}</p>
        {{#lessorequal this.stock 0}}
        <p class="stock">Disponibles: Agotado</p>
        <button class="no-stock">Agotado</button>
        {{else}}
        {{!-- Chequear si el stock es bajo (10 o menos) --}}
        {{#lessorequal this.stock 10}}
        <p class="stock">
            Disponibles: {{this.stock}}
            <span class="low-stock">¡Últimas unidades!</span>
        </p>
        <button onclick="addProductToCart('{{this._id}}')">
            <i class="fi fi-rr-shopping-cart"></i> Agregar a carrito
        </button>
        {{else}}
        {{!-- Caso para cuando hay suficiente stock --}}
        <p class="stock">Disponibles: {{this.stock}}</p>
        <button onclick="addProductToCart('{{this._id}}')">
            <i class="fi fi-rr-shopping-cart"></i> Agregar a carrito
        </button>
        {{/lessorequal}}
        {{/lessorequal}}


    </article>
    {{/each}}
</div>

<div class="pages">
    <a href="{{this.prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Anterior</a>
    <p>Navegando página: {{this.page}}
    </p>
    <a href="{{this.nextLink}}" role="button" {{#unless hasNextPage }}disabled{{/unless}}>Siguiente</a>
</div>



{{!-- Importar primero el socket io y luego el script --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>